body {
  font-family: Kanit;
  background-color: rgb(1, 26, 64);
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
}

body.landing {
  background-image: url(images/budget.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}