.transactions {
  background-color: #d80073;
  grid-row: 4/6;
  justify-content: flex-start;
  align-items: flex-start;
}

.transactions .lead {
  align-items: flex-start;
  flex-direction: column;
}

.transactions .header {
  display: flex;
  align-items: center;
  align-self: center;
}

.transactions h5 {
  font-size: 1.125rem;
  margin-left: 1rem;
}

.transactions .category {
  cursor: pointer;
}

.transactions .icon {
  height: 2.5rem;
}

.transactions .lists {
  width: 100%;
}

.transactions .lists tbody {
  display: block;
  height: 18rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.transactions .lists td {
  font-size: 0.925rem;
  opacity: 0.75;
}

.transactions .lists td:last-child {
  width: 10%;
  text-align: right;
}

.transactions .footer {
  text-align: center;
}