body {
  font-family: Kanit;
  background-color: rgb(1, 26, 64);
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
}

body.landing {
  background-image: url(images/budget.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: white;
}

a.link:hover {
  opacity: 0.8;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* Modal Content */

.modal-container {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;

  position: relative;
}

select {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  width: 19.6rem;
  height: 45px;
  font-size: 1rem;
}

.modal-content.settings {
  background-color: #03A9F4;
}

.modal-content.add-new {
  background-color: #fa6800;
}

.modal-content .close-button {
  position: absolute;
  font-size: 1.5rem;
  top: 0.325rem;
  right: 1rem;
}

.modal-content h4 {
  margin: 1.125rem 0 0.75rem 0.125rem;
}

.modal-content .select-currency {
  color: rgba(0, 0, 0, 0.8);
}

.modal-content .cb-wrap {
  display: flex;
  align-items: center;
}

.modal-content .cb-wrap > input {
  margin-top: 0.675rem;
  width: 10rem;
}

.modal-content .modal-input {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  width: 18rem;
  height: 30px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #aaa;
}

.modal-content .modal-input-textarea {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  width: 18.2rem;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #aaa;
}

.button {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0 0.75rem;
  font-size: 0.875rem;
  line-height: 30px;
  height: 42px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  outline: none;
}

.modal-content .button {
  width: 12rem;
  margin-top: 1rem;
}

.modal-content .primary {
  outline-color: #89b0ff;
  background-color: #0050ef;
  color: rgba(255, 255, 255, 0.8);
}

.modal-content .actions {
  width: 100%;
}

.modal-content .error {
  background-color: red;
  padding: 0.25rem 1rem;
}

.select-currency input {
  font-weight: bold;
  border-radius: 0px;
  width: 17rem;
  color: rgba(0, 0, 0, 0.8);
}

/* Start Transactions */

.transactions {
  background-color: #d80073;
  justify-content: flex-start;
  align-items: flex-start;
}

.transactions.box {
  grid-row: 4/6;
}

.transactions.modal {
  min-width: 25rem;
  min-height: 28rem;
}

.transactions.modal > .trans-wrap {
  width: 100%;
}

.transactions.modal label {
  font-size: 0.875rem;
}

.transactions.modal span {
  margin-right: 1rem;
}

.transactions.modal input {
  margin-left: 1rem;
}

.transactions .lead {
  align-items: flex-start;
  flex-direction: column;
}

.transactions .header {
  display: flex;
  align-items: center;
  align-self: center;
}

.transactions h5 {
  font-size: 1.125rem;
  margin-left: 1rem;
}

.transactions.modal h5 {
  font-size: 1rem;
}

.transactions .category {
  cursor: pointer;
}

.transactions .icon {
  height: 2.5rem;
}

.transactions .lists {
  width: 100%;
}

.transactions .lists {
  display: table;
}

.transactions .lists td {
  font-size: 1rem;
  opacity: 0.75;
}

.transactions .lists-wrap {
  margin-top: 1rem;
}

.transactions .td-remarks > span {
  white-space: nowrap;
  display: block;
  width: 5rem;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
}

.transactions.modal > span {
  width: 7rem;
}

.transactions .td-amount {
  text-align: right;
}

.transactions th {
  text-align: center;
}

.transactions .footer {
  text-align: center;
}

.transactions.modal tbody {
  height: 18rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}

.transactions.modal .td-date {
  width: 20%;
}

.transactions.modal .td-category {
  width: 20%;
}

.transactions.modal .td-remarks {
  width: 25%;
}

.transactions.modal .td-amount {
  width: 20%;
}

.transactions.modal .td-actions {
  width: 20%;
}

.transactions .action-icon {
  height: 0.75rem;
  width: 0.75rem;
}

.transactions .action-button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 0.25rem;
}
